.jumbotron {
  color: black;
  display: flex;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  background-image: url(/imagen/playa.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
}
.card-hotel {
  flex: 1 200px;
  padding: 2px 0px 2px 0px;
}
.btn-reserva {
  width: 100%;
}
footer {
  padding: 10px 10px 0px 10px;
  background-color: #5aa36c;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
.carousel-inner img {
  width: 90%;
  max-height: 300px;
  margin-bottom: 50px;
}
